[general]
accounts = <Name of account>
ui = basic

[Account Comprofix]
localrepository = Comprofix_Local
remoterepository = Comprofix_Remote
status_backend = sqlite

[Repository Comprofix_Local]
type = Maildir
localfolders = ~/Mail/Comprofix/ # Mail folder where mail is stored.
sep = /

[Repository Comprofix_Remote]
type = IMAP
remotehost = <mail.server.address>
remoteuser = <username>
remotepass = <passord>
keepalive = 60
holdconnectionopen = yes
