options.timeout = 120
options.subscribe = true
options.create = true

comprofix = IMAP {
    server = '<mail.server.address>',
    username = '<username>',
    password = '<password>',
}

# Rules for moving Files

github = comprofix.INBOX:contain_from('@github.com')
comprofix.INBOX:move_messages(comprofix['github'], github)

archgeneral = comprofix.INBOX:contain_to('arch-general@archlinux.org')
comprofix.INBOX:move_messages(comprofix['arch-general'], archgeneral)


bet365 = comprofix.INBOX:contain_from('@365customerservice.com')
comprofix.INBOX:move_messages(comprofix['Bet365'], bet365)


downloaded = comprofix.INBOX:contain_subject('Downloaded') * comprofix.INBOX:contain_from('mmckinnon@comprofix.com')
comprofix.INBOX:move_messages(comprofix['Downloaded'], downloaded)


aussiehomeloans = comprofix.INBOX:contain_from('marie.lacey@aussie.com.au')
comprofix.INBOX:move_messages(comprofix['AussieHomeLoans'], aussiehomeloans)


dartscorner = comprofix.INBOX:contain_from('sales@dartscorner.co.uk')
comprofix.INBOX:move_messages(comprofix['DartsCorner'], dartscorner)


godaddy = comprofix.INBOX:contain_from('@godaddy.com')
comprofix.INBOX:move_messages(comprofix['GoDaddy'], godaddy)


jmtc = comprofix.INBOX:contain_from('@justmytwocopper.org')
comprofix.INBOX:move_messages(comprofix['JMTC'], jmtc)


onlinenet = comprofix.INBOX:contain_from('@online.net')
comprofix.INBOX:move_messages(comprofix['OnlineNet'], onlinenet)


simmonssolutions = comprofix.INBOX:contain_from('@simmonssolutions.com')
comprofix.INBOX:move_messages(comprofix['SimmonsSolutions'], simmonssolutions)

steam = comprofix.INBOX:contain_from('@steampowered.com')
comprofix.INBOX:move_messages(comprofix['Steam'], steam)

thegoldqueen = comprofix.INBOX:contain_from('@thegoldqueen.com')
comprofix.INBOX:move_messages(comprofix['TheGoldQueen'], thegoldqueen)


tspayslips = comprofix.INBOX:contain_from('noreply@xero.com')
comprofix.INBOX:move_messages(comprofix['TSPayslips'], tspayslips)

doveirc = comprofix.INBOX:contain_subject('[DoveIRCMinistries]')
comprofix.INBOX:move_messages(comprofix['DoveIRC'], doveirc)
