# This is a sample setting file for connecting mutt to an IMAP Mailbox
# Update the file according to you logon details
# Mail is stored under the ~/Mail folder in a folder for the account.
# Change the Comprofix name to another name. Eg. If you are using Telstra
# name the folder Telstra.

set realname = <Your Name>
set from = <Your Email Address>

set imap_user = "<Your Username>"
set smtp_pass = "<Your Password>"

set smtp_url=smtp://$imap_user:$smtp_pass@<mail address>

set mbox_type = Maildir


set folder ="~/Mail/Comprofix"
set spoolfile = "~/Mail/Comprofix/INBOX"
set record="~/Mail/Comprofix/Sent"
set postponed="~/Mail/Comprofix/Drafts"
mailboxes `find ~/Mail/Comprofix/* -maxdepth 0 -type d -printf "='%f' "`

macro index d "s=Trash\n" "move message to trash"
macro pager d "C=Trash\n\n<exit><delete-message>" "move message to trash"
